<h1>Editing E1evento Dispositivo</h1>

<%= render 'form', e1evento_dispositivo: @e1evento_dispositivo %>

<%= link_to 'Show', @e1evento_dispositivo %> |
<%= link_to 'Back', e1evento_dispositivos_path %>
